/*  IslandWebPgStyle.css - new page layout!  */

body >  h1 {
  font-size: xlarge;
  color: white;
  text-shadow: 0 0.3rem 0.2rem grey;
  opacity: 0.5;
  padding-bottom: 1rem;
}

/* Background image of core island */
      body {
        background-image: url("Island.png");
      }


/* Set overall font size */
      body {
        font-size: small;
}

/* Have an override for a small font */
  .smallfont {
                font-size: small;
  }

/* Container for initial multi-column page only */
#all {
  background-color: white;  /* Over-ride the background */
  width: 800px;
  height: 650px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

/* Larger header for initial page */
#header {
  background-color: #e2e393;
  text-align: center;
  width: 100%;
  height: 20%;
  padding-top: .5em; /* Not too much empty space! */
}

#header p {
  text-align: justify;
  padding: 0 1em;
}

/* Columns, footer and footer columns for initial page */
/* Leftmost column */
#left {
  float: left;
  width: 23%;
  clear: left;
  height: 60%;
  padding-left: .5em;
  padding-right: .5em;
}

/* Middle two columns */
#middle1{
  float: left;
  width: 23%;
  height: 60%;
  padding-left: .5em;
  padding-right: .5em;
}

#middle2 {
  float: left;
  width: 23%;
  height: 60%;
  padding-left: .5em;
  padding-right: .5em;
}

#right {
  float: left;
  width: 23%;
  height: 60%;
  padding-left: .5em;
}

#footer {
  width: 100%;
  height: 15%;
  text-align: center;
  background-color: #e2e393;
  padding-bottom: 1.5em;
  clear: both;
}

/* Align heading and lists to the left of each column  and reduce bottom padding*/
h2 {
      text-align: left;
      padding-bottom: 0.1em;
}

/* Left footer column */
#leftfooter {
  float: left;
  width: 30%;
  clear: left;
  padding-left: .5em;
  padding-right: .5em;
}

/* Middle footer column */
#middlefooter {
  float: left;
  width: 30%;
  padding-left: .5em;
  padding-right: .5em;
}

/* Right footer column */
#rightfooter {
  float: left;
  width: 30%;
  padding-left: .5em;
}


/* Header and columns (no footer!) for 2nd-level 3-column pages, 
    each column is split in two, with an image area at the top*/

/* Smaller header for 2nd-level pages */
#header2 {
  background-color: #e2e393;
  text-align: center;
  width: 100%;
  height: 10%;
  padding-top: .1em; /* Not too much empty space! */
}

/* Leftmost column.. */
#left2 {
  float: left;
  width: 31%;
  clear: left;
  height: 80%;
  padding-left: .5em;
  padding-right: .5em;
}

/* ..and an image area at the top*/
#topimage {
    width: 95%;
    height: 20%;
    padding-bottom: 1.5em;
}

/* Middle column */
#middle {
  float: left;
  width: 31%;
  height: 80%;
  padding-left: .5em;
  padding-right: .5em;
}

#right2 {
  float: left;
  width: 31%;
  height: 80%;
  padding-left: .5em;
}


/* Container for 'ordinary' pages */
#all2 {
  background-color: white;  /* Over-ride the overall background */
  background-image: /* Add a colour-gradient background */
    linear-gradient(rgb(204,204,255), rgb(193,255,255));
  width: 50%;
  height: 200%;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5em;
  padding-right: .5em;
}

/* Set up blocks for in-line images alternating side to side */
#Old3 {
      img {
          float : left;
      }
}

/* Set up horizontal menu buttons for class "menu" */
#menu ul {
   margin-left: -2.5em;
}

#menu li {
   list-style-type: none;
   width: 7em;
   text-align: center;
   float: left;
}

#menu a {
   text-decoration: none;
   color: black;
   display: block;
   background-color: #EEEEFF;
   box-shadow: 5px 5px 5px gray;
   margin-bottom: 22px;
   margin-right: 2px;
   border-radius: 5px;
   border: 3px outset #EEEEFF;
}

#menu a:hover {
   background-color: #DDDDEE;
   box-shadow: 3px 3px 3px gray;
   border: none;
}
  
