/*   IslWebPgStyle.css  */

/* Background image of foam */
      body {
        background-image: url("fmtxtr2.png");
      }
      hl {
        background-color: white;
      }

/* Set default font size */
      p {
        font: medium serif;
      }
      ul {
        font: medium serif;
      }

/* Set default position of in-text images */
      img {
          float : right;
      }

/* Set up horizontal menu buttons for class "menu" */
#menu ul {
   margin-left: -2.5em;
}

#menu li {
   list-style-type: none;
   width: 7em;
   text-align: center;
   float: left;
}

#menu a {
   text-decoration: none;
   color: black;
   display: block;
   background-color: #EEEEFF;
   box-shadow: 5px 5px 5px gray;
   margin-bottom: 2px;
   margin-right: 2px;
   border-radius: 5px;
   border: 3px outset #EEEEFF;
}

#menu a:hover {
   background-color: #DDDDEE;
   box-shadow: 3px 3px 3px gray;
   border: none;
}

/* set up 2-col structure with a 'nav' LH col and main 'section' RH col, header, footer and borders */
header {
   border-bottom: 5px double black;
}

nav {
   float: left;
   width: 20%;
   clear: left;
   min-height: 1200px;
   border-right: 1px solid black;
}

section {
   float: left;
   width: 75%;
   padding-left: 1em;
}

footer {
   clear: both;
   border-top: 5px double black;
   text-align: center;
}
